# NXT patches

# This is an example of <jBART folder>/data/patches/patch_data.conf file 
# To use this repo you must add the line:
#
# github::MI-Global/MIUI.v8.Patches.Smali=MI-Global .smali patches
#
# to file <jBART folder>/data/settings/repo.miui.v8.patch.conf.
# In this case all patches will be downloaded each time.
# If you want to remove some patches just comment or delete them in this list below.

# Common patches for all devices
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/services/rebootOrShutdown.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/services/DisableSignaturesCheck.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/services/DisableMIUISelfProtection.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Browser/Localize.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/RootAccessShortRequest.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/CleanMaster.ptch";
